body {
  margin: 0;
  background-color: #1E252B;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.brand {
  margin: 0 108px 200px;
}

.brand_container {
  max-width: 1225px;
  margin: 0 auto;
  padding: 55px 82px;
  border-radius: 25px;
  background: rgba(44, 53, 61, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  overflow: hidden;
}
.brand_container::after {
  content: "";
  width: 159px;
  height: 159px;
  background: rgba(255, 72, 66, 0.3);
  position: absolute;
  top: -86px;
  left: -84px;
  filter: blur(50px);
}

.brand__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.brand__text {
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin: 0 0 55px;
}

.footer {
  height: 352px;
  box-sizing: border-box;
  border-top: 0.5px solid rgba(255, 255, 255, 0.15);
  padding: 70px 233px 0 108px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
}

.footer__container p {
  margin: 0 0 10px;
}
.footer__container a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
}

.footer__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
  margin: 0 0 20px;
}

.footer__copyright {
  width: 260px;
  margin-right: 41px;
}

.footer__copyright_company {
  color: rgba(255, 255, 255, 0.9);
  margin: 0 0 21px;
}

.footer__copyright_info {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}

.footer__copyright_logo {
  margin-bottom: 25px;
  height: 38px;
}

.footer__copyright_logo-img {
  margin-right: 12px;
}

.footer__copyright_logo-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 38px;
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  vertical-align: top;
}

.hero {
  height: 700px;
  padding: 26px 105px 0 111px;
  box-sizing: border-box;
  margin-bottom: 200px;
}

.hero__background-img {
  position: absolute;
  right: 0;
  top: 132px;
}

.hero__description {
  color: rgba(255, 255, 255, 0.55);
  margin-bottom: 110px;
}

.hero__description_serch {
  width: 498px;
  padding: 8px 11px 8px 18px;
  background-color: #283036;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__description_serch-button {
  background-color: #FF6E30;
  border-radius: 8px;
  padding: 12px 36px;
  font-weight: 600;
  color: #FFF;
  cursor: pointer;
}

.hero__description_serch-icon {
  margin-right: 13px;
}

.hero__description_serch-input {
  font-weight: 400;
  border-width: 0;
  background-color: #283036;
  margin-right: 11px;
  flex-grow: 1;
  color: #FFF;
}
.hero__description_serch-input:focus-visible {
  outline-width: 0;
}

.hero__description_text {
  font-weight: 400;
  width: 487px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 30px;
}

.hero__description_title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 50px;
  line-height: 70px;
  width: 600px;
  margin-bottom: 30px;
}
.hero__description_title span {
  color: #FF6E30;
}

.hero__footer {
  width: 190px;
  height: 58px;
  color: rgba(255, 255, 255, 0.78);
  padding: 0 11px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__footer_link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.78);
}
.hero__footer_link:nth-child(n) {
  transition: transform 0.5s ease;
}
.hero__footer_link:hover:nth-child(n) {
  transform: scale(1.4);
  color: #FF6E30;
}

.hero__header, .hero__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__header {
  margin-bottom: 104px;
  height: 48px;
}

.hero__logo {
  width: 140px;
}

.hero__logo_text {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.9);
}

.join {
  width: 554px;
  margin: 0 auto 240px;
}

.join__serch {
  width: 549px;
  padding: 8px 12px 8px 24px;
  background-color: #283036;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
}

.join__serch-button {
  background-color: #FF6E30;
  border-radius: 8px;
  padding: 12px 36px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
  cursor: pointer;
}

.join__serch-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  border-width: 0;
  background-color: #283036;
  margin-right: 12px;
  flex-grow: 1;
  color: #FFF;
}
.join__serch-input:focus-visible {
  outline-width: 0;
}

.join__text {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  line-height: 30px;
  width: 427px;
  margin: 0 auto 100px;
  text-align: center;
}

.join__title {
  font-weight: 500;
  font-size: 49px;
  line-height: 62px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 48px;
  margin: 0 0 25px;
}

.login-menu__item {
  text-decoration: none;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.55);
}
.login-menu__item:first-child {
  margin-right: 41px;
}
.login-menu__item:last-child {
  color: #FDF5FF;
  padding: 12px 28px;
  background-color: #FF6E30;
  border-radius: 8px;
}

.menu {
  width: 431px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__item {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
  position: relative;
}
.menu__item::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #FF6E30;
  left: 0;
  top: 100%;
  opacity: 0;
  transform: translateY(12px);
  transition: all 0.3s ease;
  border-radius: 0 0 2px 2px;
}
.menu__item:hover {
  cursor: pointer;
}
.menu__item:hover::after {
  opacity: 1;
  transform: translateY(4px);
}

.menu__item_chevron-icon {
  color: rgba(255, 255, 255, 0.55);
  vertical-align: middle;
}

.newcomer {
  margin: 0 108px 200px;
}

.newcomer__container {
  max-width: 1225px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}

.newcomer__button {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #FFF;
  padding: 16px 40px;
  background-color: #FF6E30;
  border-radius: 8px;
  width: 198px;
  box-sizing: border-box;
  cursor: pointer;
}

.newcomer__info {
  width: 427px;
}

.newcomer__text {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 60px;
}

.newcomer__title {
  font-weight: 500;
  font-size: 49px;
  line-height: 62px;
  color: rgba(255, 255, 255, 0.9);
  margin: 0 0 30px;
}

.popular {
  margin: 0 96px 200px;
}

.popular__container {
  max-width: 1225px;
  margin: 0 auto;
}

.popular__button {
  color: #FF6E30;
  padding: 16px 36px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  width: 184px;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  margin: 100px auto 0;
  cursor: pointer;
  transition: all 0.6s ease;
}
.popular__button:hover {
  color: rgba(255, 255, 255, 0.55);
  background-color: #FF6E30;
}

.popular__text {
  width: 427px;
  margin: 0 auto 110px auto;
  text-align: center;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  line-height: 30px;
}

.popular__title {
  font-weight: 500;
  font-size: 49px;
  line-height: 62px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  margin: 0 0 25px;
}

.slider {
  max-width: 849px;
  margin: 0 auto 100px;
  overflow: hidden;
}

.slider__chevron {
  z-index: 1;
  color: rgba(255, 255, 255, 0.28);
  position: absolute;
  top: 222px;
  transition: transform 0.5s ease;
}

.slider__chevron_active {
  cursor: pointer;
}
.slider__chevron_active:hover {
  transform: scale(1.5);
  color: #FF6E30;
}

.slider__chevron-left {
  left: 0;
}

.slider__chevron-right {
  right: 0;
}

.slider-indicators {
  width: 168px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-indicators__items {
  width: 44px;
  height: 6px;
  background-color: #283036;
  margin: auto;
  border-radius: 4px;
}

.slider-indicators__items-active {
  background-color: #FF6E30;
  height: 8px;
}

.slider__item {
  height: 492px;
  display: flex;
  justify-content: center;
  position: relative;
}

.slider__item1_background-logo {
  position: absolute;
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 250px;
  line-height: 320px;
  width: 103px;
  height: 320px;
  background: linear-gradient(188.88deg, rgba(252, 252, 252, 0) 20.34%, rgba(255, 255, 255, 0.5) 155.72%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: rotate(19.17deg);
}

.slider__item1_photo {
  margin-right: 57px;
  width: 399px;
  height: 492px;
}

.slider__item1_photo-caption {
  position: absolute;
  text-align: left;
  padding: 13px 22px;
  background: rgba(40, 48, 54, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 8px;
  right: 61px;
  bottom: 29px;
}

.slider__item1_photo-caption-name {
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.015em;
  color: rgba(255, 253, 253, 0.78);
  margin: 0 0 2px;
}

.slider__item1__photo-caption-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 253, 253, 0.55);
  margin: 0;
}

.slider__item1_photo-container {
  position: relative;
}

.slider__item1_text {
  font-family: "Roboto", sans-serif;
  max-width: 393px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.015em;
  color: rgba(255, 255, 255, 0.78);
  text-align: left;
  margin: 128px 0 0;
}

.slider__line {
  display: flex;
  transition: all 0.6s ease;
}

.testimonial {
  margin: 0 108px 250px;
}

.testimonial__container {
  max-width: 1225px;
  margin: 0 auto 250px;
  text-align: center;
  position: relative;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: -50px -12px;
}

.tools__item {
  max-width: 392px;
  padding: 33px;
  box-sizing: border-box;
  margin: 50px 12px;
  transition-property: transform, background;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  overflow: hidden;
  border-radius: 15px;
  border-color: rgba(40, 48, 54, 0.6);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
.tools__item:hover {
  margin: 50px 10px;
  max-width: 396px;
  background: rgba(40, 48, 54, 0.6);
  transform: translate(1px, -20px);
  border: 2px solid rgba(40, 48, 54, 0.6);
}
.tools__item:hover .tools__item_footer-button {
  background-color: #FF6E30;
}
.tools__item:hover .tools__item_name {
  color: rgba(255, 255, 255, 0.9);
}
.tools__item:hover .tools__item_paid {
  color: #FFA537;
}
.tools__item:hover::after {
  content: "";
  width: 65px;
  height: 65px;
  background: rgba(255, 110, 48, 0.2);
  position: absolute;
  top: -6px;
  right: 16px;
  filter: blur(25px);
}

.tools__item_description {
  color: rgba(255, 255, 255, 0.55);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
}

.tools__item_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tools__item_footer-button {
  color: rgba(255, 255, 255, 0.55);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 9px 35px;
  border-radius: 8px;
}
.tools__item_footer-button:hover {
  cursor: pointer;
}

.tools__item_footer-icons {
  color: rgba(255, 255, 255, 0.55);
  height: 42px;
}
.tools__item_footer-icons :nth-child(n):hover {
  border-radius: 8px;
  box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
  cursor: pointer;
}
.tools__item_footer-icons :first-child {
  margin-right: 12px;
  padding: 7px;
}
.tools__item_footer-icons :last-child {
  padding: 7px 6px 5px;
}

.tools__item_footer-icon-active {
  color: #FD3B41;
}

.tools__item_header {
  height: 66px;
  margin-bottom: 30px;
}

.tools__item_header-info {
  display: inline-block;
  vertical-align: top;
}

.tools__item_logo {
  margin-right: 28px;
}

.tools__item_name {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin: 0 0 3px 0;
  color: rgba(255, 255, 255, 0.78);
}

.tools__item_paid {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  color: rgba(255, 165, 55, 0.55);
}

.newcomer .tools {
  max-width: 650px;
  margin: -25px -12px;
}
.newcomer .tools__item {
  max-width: 288px;
  margin: 25px 12px;
  padding: 28px 22px;
}
.newcomer .tools__item:hover::after {
  height: 63px;
  position: absolute;
  top: -17px;
  right: -9px;
  filter: blur(25px);
}
.newcomer .tools__item_description {
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */