@font-face {
    font-family: "Poppins";
    src: url("./Medium/Poppins-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
  }

  @font-face {
    font-family: "Poppins";
    src: url("./Regular/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: "Poppins";
    src: url("./SemiBold/Poppins-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
  }