@mixin flexible () {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

$orange-color: #FF6E30;
$text-color: rgba(255, 255, 255, 0.55);
$title-color: rgba(255, 255, 255, 0.9);

body {
    margin: 0;
    background-color: #1E252B;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.hero {
    height: 700px;
    padding: 26px 105px 0 111px;
    box-sizing: border-box;
    margin-bottom: 200px;
}

.hero__background-img {
    position: absolute;
    right: 0;
    top: 132px;
}

.hero__description {
    color: $text-color;
    margin-bottom: 110px;
}

.hero__description_serch {
    width: 498px;
    padding: 8px 11px 8px 18px;
    background-color: #283036;
    border-radius: 15px;
    @include flexible();
}

.hero__description_serch-button {
    background-color: $orange-color;
    border-radius: 8px;
    padding: 12px 36px;
    font-weight: 600;
    color: #FFF;
}

.hero__description_serch-icon {
    margin-right: 13px;
}

.hero__description_serch-input {
    font-weight: 400;
    border-width: 0;
    background-color: #283036;
    margin-right: 11px;
    flex-grow: 1;
    color: #FFF;
    &:focus-visible{
        outline-width: 0;
    }
}

.hero__description_text {
    font-weight: 400;
    width: 487px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 30px;
}

.hero__description_title {
    color: $title-color;
    font-size: 50px;
    line-height: 70px;
    width: 600px;
    margin-bottom: 30px;
    span{
        color: $orange-color;
    }
}

.hero__footer {
    width: 190px;
    height: 58px;
    color: rgba(255, 255, 255, 0.78);
    padding: 0 11px;
    box-sizing: border-box;
    @include flexible();
}

.hero__header, .hero__logo {
    @include flexible();
}

.hero__header {
    margin-bottom: 104px;
    height: 48px;
}

.hero__logo {
    width: 140px;
}

.hero__logo_text {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: $title-color;
}

.login-menu__item {
    text-decoration: none;
    font-weight: 600;
    color: $text-color;
    &:first-child {
        margin-right: 41px;
    }
    &:last-child {
        color: #FDF5FF;
        padding: 12px 28px;
        background-color: $orange-color;
        border-radius: 8px;
    }
}

.menu {
    width: 431px;
    @include flexible();
}

.menu__item {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: $text-color;
    &:hover{
        cursor: pointer;
    }
}

.menu__item_link {
    text-decoration: none;
    color: $text-color;
}

.popular {
    width: 1224px;
    height: 1109px;
    margin: 0 auto 200px auto;
}

.popular__text {
    width: 427px;
    margin: 0 auto 90px auto;
    color: $text-color;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.popular__title {
    font-weight: 500;
    font-size: 49px;
    line-height: 62px;
    text-align: center;
    color: $title-color;
    margin: 0 0 25px;
}

.tools__item {
    max-width: 392px;
    padding: 33px;
    box-sizing: border-box;
    &:hover{
        .tools__item_footer-button{
            background-color: $orange-color;
        }
    }
}

.tools__item_description {
    color: $text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px
}

.tools__item_footer {
    @include flexible();
}

.tools__item_footer-button {
    color: $text-color;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 9px 35px;
    border-radius: 8px;
    &:hover{
        cursor: pointer;
    }
}

.tools__item_footer-icons {
    color: $text-color;
    height: 42px;
    :nth-child(n) {
        &:hover {
            border-radius: 8px;
            box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
            cursor: pointer;
        }
    }
    :first-child {
        margin-right: 12px;
        padding: 7px;
    }
    :last-child {
        padding: 7px 6px 5px;
    }

}

.tools__item_header {
    height: 66px;
    margin-bottom: 30px;
}

.tools__item_header-info {
    display: inline-block;
    vertical-align: top;
}

.tools__item_logo {
    margin-right: 30px;
}

.tools__item_name {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 3px 0;
}

.tools__item_paid {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    color: rgba(255, 165, 55, 0.55);
}